*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 30rem;
  margin: 4rem auto;
  padding: 0 1rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

button {
  background: #d36363;
  color: #242424;
  border: 0;
  border-radius: 3px;
  padding: 0.6rem 0.8rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.counter {
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
}

.btn-wrapper {
  margin-bottom: 2rem;
}

.step-label {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#select {
  width: 9rem;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  background: #d36363;
  font-size: 1rem;
  font-weight: 700;
}